---
name: Linting

on:
  pull_request:
    paths:
      - '**/*.md'
      - .markdownlint.yml
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Markdown
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: MarkdownLint-Cli
        run: make markdownlint
